.toc details summary {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.post-tags .category {
  background: rgba(255, 212, 93, 0.8);
  color: #000;
  font-weight: bold;
}

.post-tags .category:hover {
  background: rgba(255, 212, 93, 0.6);
}

.post-tags .tag.tag-zametki {
  background: rgba(232, 246, 34, 0.8);
  color: #000;
  font-weight: 600;
}

.post-tags .tag.tag-zametki:hover {
  background: rgba(232, 246, 34, 0.6);
}

.post-tags .tag.tag-stati {
  background: rgba(61, 181, 255, 0.8);
  color: #000;
  font-weight: 600;
}

.post-tags .tag.tag-stati:hover {
  background: rgba(61, 181, 255, 0.6);
}
