:root {
  --theme: #fff;
  --accent-acid: #ccff00;
  --accent-jam: #fb2d8d;
  --font-size: 1.125rem;
}

:root {
  --header-bg: rgba(255, 255, 255, 0.5);
  --accent: var(--accent-jam);
  --mark-color: #fff;
  --code-block-bg: rgb(46, 46, 51);
}

[data-theme="dark"] {
  --header-bg: rgba(29, 30, 32, 0.5);
  --accent: var(--accent-acid);
  --mark-color: #000;
}
