.header {
  position: sticky;
  top: 0;
  background: var(--header-bg);
  backdrop-filter: blur(6px);
  z-index: 2;
}

#menu li {
  font-weight: 500;
}

.toc details summary {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.toc a,
.toc a:hover {
  box-shadow: none;
}

.post-tags .category {
  background: rgba(255, 212, 93, 0.8);
  color: #000;
  font-weight: bold;
}

.post-tags .category:hover {
  background: rgba(255, 212, 93, 0.6);
}

.post-tags .tag.tag-zametki {
  background: rgba(232, 246, 34, 0.8);
  color: #000;
  font-weight: 600;
}

.post-tags .tag.tag-zametki:hover {
  background: rgba(232, 246, 34, 0.6);
}

.post-tags .tag.tag-stati {
  background: rgba(61, 181, 255, 0.8);
  color: #000;
  font-weight: 600;
}

.post-tags .tag.tag-stati:hover {
  background: rgba(61, 181, 255, 0.6);
}

.post-content figure > figcaption {
  /* text-align: center; */
  font-size: 0.875rem;
  margin: 1px 0 16px;
  font-weight: 500;
}

.post-content figure > img {
  margin: 1rem 0 5px 0;
}

.post-content a:hover {
  color: var(--link-hover-color);
}

.post-meta a.author-link {
  color: inherit;
  box-shadow: 0 1px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.post-content h2 {
  font-size: 2rem;
}

.post-content h3 {
  font-size: 1.75rem;
}

.post-content h4 {
  font-size: 1.5rem;
}

.post-content h5 {
  font-size: 1.25rem;
}

.post-content h6 {
  font-size: 1.15rem;
}

.entry-cover img {
  pointer-events: inherit;
}

.entry-footer {
  overflow-x: hidden;
  word-break: keep-all;
  white-space: nowrap;
}

/* Medium Zoom*/
.medium-zoom-overlay {
  background: var(--theme) !important;
  /* background: transparent !important; */
  /* backdrop-filter: blur(6px); */
  z-index: 2;
}

.medium-zoom-image--opened {
  z-index: 3;
}

.medium-zoom-image {
  object-fit: contain;
}
