.medium-zoom-overlay {
  background: var(--theme) !important;
  /* background: transparent !important; */
  /* backdrop-filter: blur(6px); */
  z-index: 2;
}

.medium-zoom-image--opened {
  z-index: 3;
  border-radius: var(--radius);
  /* border: 1px solid rgba(124, 139, 154, 0.25); */
}

img.medium-zoom-image--opened[loading="eager"],
img.gallery-image.medium-zoom-image--opened {
  border-radius: 0;
  border: none;
}

.medium-zoom-image {
  object-fit: contain;
}
