.references-card {
  padding: 0;
  width: 100%;
}

.references-container {
  color: var(--content);
  border-radius: var(--radius);
  border: 1px solid rgba(124, 139, 154, 0.25);

  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
}

.references-post-line-content {
  mask-image: none;
  -webkit-mask-image: none;
}

.references-post-line-content span {
  padding-left: 15px;
}

.references-content {
  padding: 15px;
}

.references-title {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3;
}

.references-text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4;
  /* margin-top: 12px; */
  overflow-y: hidden;
}

.references-text ul,
.references-text ol {
  margin-bottom: 0;
}

.references-text ul li::marker {
  content: "\\ ";
  font-weight: bold;
  color: var(--accent);
}

hr.references-hr {
  background: none;
  border: none;
  position: relative;
  height: 6px;
}

hr.references-hr::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 6px;
  background: #e74c3c;
  box-shadow: -25px 0 0 #3498db, 25px 0 0 #2ecc71;
}
