.video-container {
  display: flex;
  justify-content: start;
  margin-bottom: var(--content-gap);
}

.video-container.center {
  justify-content: center;
}

.video-container.right {
  justify-content: end;
}

.video-container video {
  max-width: 100%;
  border: 1px solid rgba(124, 139, 154, 0.25);
  border-radius: var(--radius);
  height: auto;
}
