.kg-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--content-gap);
}

.kg-flex-container > img {
  max-width: 100%;
  height: auto;
}

.kg-flex-container > * {
  flex: 0 1 var(--flex-basis, auto);
  /* flex: 0 1 auto; */
  min-width: 0;
}

.kg-flex-container img {
  margin: 0;
}

.kg-flex-container.kg-flex-grow-1 > * {
  flex-grow: 1;
}

.kg-flex-container.kg-flex-center-content > * {
  display: flex;
  justify-content: center;
}

.kg-flex-container.kg-flex-right-content > * {
  display: flex;
  justify-content: flex-end;
}
