{{/* Load Masonry List */}}
{{- if (.Param "ListMasonry") }}
  {{- $listMasonry := resources.Get "js/list-masonry.js" }}
  {{- if not site.Params.assets.disableFingerprinting }}
      {{ $listMasonry := $listMasonry | fingerprint }}
      <script defer crossorigin="anonymous" src="{{ $listMasonry.RelPermalink }}" integrity="{{ $listMasonry.Data.Integrity }}"></script>
    {{- else }}
      <script defer crossorigin="anonymous" src="{{ $listMasonry.RelPermalink }}"></script>
  {{- end }}
{{- end }}

{{/* Load what can be loaded as one file */}}
{{- $ntlinksJS := resources.Get "js/ntlinks.js" }}
{{- $anchorscrollJS := resources.Get "js/anchor-scroll.js" }}
{{- $customjs := (slice $ntlinksJS $anchorscrollJS) | resources.Concat "assets/js/custom.js" | resources.Minify }}

{{- if not site.Params.assets.disableFingerprinting }}
    {{ $customjs := $customjs | fingerprint }}
    <script defer crossorigin="anonymous" src="{{ $customjs.RelPermalink }}" integrity="{{ $customjs.Data.Integrity }}"></script>
  {{- else }}
    <script defer crossorigin="anonymous" src="{{ $customjs.RelPermalink }}"></script>
{{- end }}

{{/* Load Lite YouTube Embed JS */}}
{{- $liteytembedJS := resources.Get "js/lite-yt-embed.js" }}
{{- if not site.Params.assets.disableFingerprinting }}
    {{- $liteytembedJS_f := $liteytembedJS | fingerprint }}
    <script defer crossorigin="anonymous" src="{{ $liteytembedJS.RelPermalink }}?v=0.3.3" integrity="{{ $liteytembedJS_f.Data.Integrity }}"></script>
    {{- else }}
    <script defer crossorigin="anonymous" src="{{ $liteytembedJS.RelPermalink }}?v=0.3.3"></script>
{{- end }}

{{/* Load mediumZoom script */}}
{{- if (.Param "EnableImageZoom") }} {{-
  $mediumzoomJS := resources.Get "js/medium-zoom.min.js" }}

  {{- if not site.Params.assets.disableFingerprinting }}
      {{ $mediumzoomJS_f := $mediumzoomJS | fingerprint }}
      <script crossorigin="anonymous" src="{{ $mediumzoomJS.RelPermalink }}?v=1.0.6" integrity="{{ $mediumzoomJS_f.Data.Integrity }}"></script>
    {{- else }}
      <script crossorigin="anonymous" src="{{ $mediumzoomJS.RelPermalink }}?v=1.0.6"></script>
  {{- end }}

  <script>
    mediumZoom(".entry-cover img");
    mediumZoom(".post-content img:not([no-zoom])");
  </script>
{{- end }}

{{/* XMAS */}} {{/* */}}
  <style>
  .xny-bg {
    animation: 1s xnyBgAnim;
    opacity: 0.3;
  }
  @keyframes xnyBgAnim {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.3;
    }
  }
  .kg-callout-card, #searchbox, article.first-entry, details.a-details, .embed-post-card, .references-card {
    backdrop-filter: blur(6px);
  }
</style>
<!-- xmas Settings -->
<script>
  const xnySettings = {
    bgUrl: "https://assets.nozsh.com/img/loose/new-year-bg-light.svg", // BG URL at top page
    maxFlakes: 12, // Max flakes
    funIcons: ["⛄", "🎁", "🦌", "☃", "🍪"], // (❄️≧◡≦❄️)
    funChance: 0.025, // More chance, More fun
    speed1: 8000, // Less number, More speed
    speed2: 10000, // Less number, More speed
    life: 100, // More life, More speed
    initialOpacity: 0.2, // Opacity on born
    opacityThreshold: 0.5, // Opacity on start dying
  };
</script> {{/* */}}

<!-- Load xmas.js -->
<script {{/* */}}
  src="https://assets.nozsh.com/js/loose/xmas.min.js?v={{ time.Now.Unix }}"
  defer
></script> {{/* */}}


{{/* GoatCounter */}}
<script
  data-goatcounter="https://saladvisor-blog.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
