{{/* Load Smooth Anchor Scroll script */}}
{{- $smoothscroll := resources.Get "js/anchor-scroll.js" }}
<script src="{{ $smoothscroll.RelPermalink }}?v={{ time.Now.Unix }}" defer></script>

{{/* Load mediumZoom script */}}
{{- if (.Param "EnableImageZoom") }}
{{- $imagezoom := resources.Get "js/medium-zoom.min.js" }}
<script src="{{ $imagezoom.RelPermalink }}?v=1.0.6" data-no-instant
  {{- if site.Params.assets.disableFingerprinting }} integrity="{{ $imagezoom.Data.Integrity }}" {{- end }}></script>

<script>
  mediumZoom('.entry-cover img');
  mediumZoom('.post-content img:not([no-zoom])');
</script>
{{- end }}