<div class="gallery">
  <div class="gallery-grid-wrapper">
    {{ $page := .Page }}
    
    {{ $items := split (.Inner | chomp) "\n" }}
    {{ $items = after 1 $items }}
    
    {{ range $items }}
      {{ if . }}
        {{ $parts := split . "|" }}
        {{ $src := index $parts 0 | strings.TrimSpace }}
        {{ $class := cond (gt (len $parts) 1) (index $parts 1 | strings.TrimSpace) "" }}

        {{ $src = partial "utils/getAsset" (dict "src" $src "page" $page) }}

        <div class="gallery-item {{ $class }}">
          <img loading="lazy" src="{{ $src }}" alt="" class="gallery-image" />
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>