{{ $loading := .Get "loading" | default "lazy" }}
{{ $notp := false }}
{{ $alt := .Get "alt" | default (printf "%s - Image" .Page.Title) }}
<!-- {{ $alt := .Get "caption" | default (printf "%s - Image" .Page.Title) }} -->
{{ $caption := .Get "caption" }}

{{ if eq (.Get "notp") true }}
  {{ $notp = true }}
{{ end }}

{{ if and (not $notp) (eq $caption "") }}
<p>
{{ end }}

{{ if $caption }}
<figure>
{{ end }}

  <img loading="{{ $loading }}" alt='{{ $alt }}' width='{{ .Get "width" }}' height='{{ .Get "height" }}' src='{{ partial "utils/getAsset" (dict "src" (.Get "src") "page" .Page) }}'>
  {{ if $caption }}
    <figcaption>{{.Get "caption" | markdownify}}</figcaption>
  {{ end }}

{{ if $caption }}
</figure>
{{ end }}

{{ if and (not $notp) (eq $caption "") }}
</p>
{{ end }}