{{ $url := .Get 0 }}
{{ $page := .Site.GetPage $url }}

{{ if $page }}
<figure class="embed-post-card">
  <a class="embed-post-container" href="{{ $page.Permalink }}">
    <div class="embed-post-content">
      <div class="embed-post-title">{{ $page.Title }}</div>
      <div class="embed-post-description">
        <span>
          {{ $page.Description }}
        </span>
      </div>
      <div class="embed-post-metadata">
        <div class="embed-post-meta">
          <img class="embed-post-icon" src='{{ .Site.Params.assets.safari_pinned_tab | absURL }}' alt="icon" no-zoom>
          <span class="embed-post-author">
            {{ range $index, $author := $page.Params.author }}
            {{ if $index }}\ {{ end }}{{ $author }}
            {{ end }}
          </span>
        </div>
        <!-- <div class="embed-post-date">
          <svg class="embed-post-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><defs><style>.fa-secondary{opacity:.4}</style></defs><path class="fa-secondary" d="M0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192z"/><path class="fa-primary" d="M160 32c0-17.7-14.3-32-32-32S96 14.3 96 32l0 32L48 64C21.5 64 0 85.5 0 112l0 80 448 0 0-80c0-26.5-21.5-48-48-48l-48 0 0-32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 32L160 64l0-32z"/></svg>
          <span>
            {{ $date := $page.Date }}
            {{ $date | time.Format (default "January 2, 2006" site.Params.DateFormat) }}
          </span>
        </div> -->
      </div>
    </div>
    {{ with $page.Params.cover.image }}
    {{- $imgURL := site.Params.assets.assetsURL -}}
    {{- $imgPATH := site.Params.assets.assetsPATH -}}

    {{- $src := $page.Params.cover.image | safeURL -}}
    {{- $src2 := $page.Params.cover.image | absURL | safeURL -}}

    <div class="embed-post-cover">
      {{- if hasPrefix $src $imgPATH -}}
      {{- $urlWithoutHash := $page.RelPermalink | replaceRE "#.*$" "" -}}
      {{- $articleName := $urlWithoutHash | replaceRE "^.*/([^/]+)/$" "$1" | urlize -}}
      {{- $newSrc := $src | replaceRE (printf "^%s" $imgPATH) (printf "%s%s/" $imgURL $articleName) -}}
      <img loading="lazy" src='{{ $newSrc }}' alt="{{ $page.Title }} - Cover" no-zoom>
      {{- else -}}
      <img loading="lazy" src='{{ $src2 }}' alt="{{ $page.Title }} - Cover" no-zoom>
      {{- end -}}
    </div>
    {{ end }}
  </a>
</figure>
{{ else }}

<figure class="embed-post-card">
  <div class="embed-post-container">
    <div class="embed-post-content">
      <div class="embed-post-title">Error 404</div>
      <div class="embed-post-description">
        <span>
          Увы, но эта запись не найдена...
        </span>
      </div>
    </div>

    <div class="embed-post-cover">
      <img loading="lazy" src="https://nozsh.su/assets/img/no-signal.jpg" alt="Ошибка, запись не найдена" no-zoom>
    </div>
  </div>
</figure>

{{ end }}